[Desktop Entry]
Version=1.0
Name=GAV
GenericName=Media Player
Comment=A simple audio and video player
Exec=gav %F
Icon=gav
Terminal=false
Type=Application
Categories=AudioVideo;Player;Qt;
MimeType=video/mp4;video/x-matroska;video/webm;video/mpeg;video/x-msvideo;video/quicktime;video/x-flv;video/ogg;audio/mpeg;audio/mp4;audio/x-wav;audio/x-flac;audio/ogg;audio/x-vorbis+ogg;audio/x-opus+ogg;audio/aac;audio/x-m4a;
StartupNotify=true
Keywords=video;audio;player;media;movie;music;
